.CardsContainer
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin-top:10px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.22);
}

.Cards
{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    margin: 10px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.22);

}

.CardsContainer img
{
    display: flex;
    width: 90%;
    height: 70%;
    margin: 5px;
    border-radius: 10px;
}

.CardsContainer p{
    font-size: 18px;
    font-weight: bold;
}