.CardsContainer
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin-top:10px;
}

.Cards
{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    margin: 10px;

}

.CardsContainer img
{
    display: flex;
    width: 90%;
    height: 70%;
    top: 100%;
}